@model DavinTI.Models.Contato

<h2>Editar Contato</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Nome:</label>
        <input asp-for="Nome" />
    </div>
    <div>
        <label>Idade:</label>
        <input asp-for="Idade" type="number" />
    </div>
    <div>
        <label>Telefones:</label>
        <input name="telefones" value="@string.Join(", ", Model.Telefones)" />
    </div>
    <button type="submit">Salvar</button>
</form>
